<p>Event Name: <%= @event.name %></p>
<p>Description: <%= @event.description %></p>
<p>Category: <%= @event.category_name %></p>
<p>Location: <%= @event.location_name %></p>
<p><%= link_to 'Back to index', events_path %></p>